<% provide(:title, 'Eqlea') %>
<% assign_view_specific_stylesheets 'home_signed_in' %>
<% assign_view_specific_javascripts 'home_signed_in' %>


<div id="wrapper">

  <header>
    <%= link_to current_user.name, current_user, id: "profile_link" %>
    <a href="" id="edit_link">&#x25bc;</a> |
    <%= link_to "Sign Out", root_path, method: "delete", id: "signout_link" %>
  </header>

  <table id="notes_list">
    <thead>
      <tr>
        <th colspan="5">Group 1 Title</th>
      </tr>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
        <tr id="row_<%= note.id %>">
          <td class="item_name"><%= link_to note.name, note %><input type="text"></td>
          <td class="item_date"><%= note.updated_at.strftime("%m/%d/%Y") if !note.created_at.nil? %></td>
          <td class="item_edit"><%= link_to image_tag('edit_icon.png'), edit_note_path(note) %></td>
          <td class="item_rename"><button type="button">NAME</button></td>
          <td class="item_delete"><%= link_to image_tag('close_icon.png'), note_path(note), method: "delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_tag notes_path, id: "new_page" do %>
    <%= submit_tag("    +    ") %>
  <% end %>

  <%= form_tag user_path(current_user), {method: :put, id: "user_edit_form"} do %>
    <%= render 'shared/error_messages' %>
    <%= text_field_tag :name, current_user.name %>
    <%= text_field_tag :email, current_user.email %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>
    <%= submit_tag("Save changes") %>
  <% end %>
</div>