<% provide(:title, 'Eqlea') %>
<% assign_view_specific_stylesheets 'home' %>
<% assign_view_specific_javascripts 'home' %>


<div id="wrapper">
  <header>
    <%= link_to "About", '#', id: "home-about-link" %>
  </header>

  <%= form_tag root_url, id: "form" do %>
    <%= render 'shared/error_messages' %>
    <%= text_field_tag :email, nil, placeholder: "Email" %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>
    <label id="new_user"><%= check_box_tag :sign_up? %> New user</label>
    <%= submit_tag "Sign in", id: "submit" %>
  <% end %>
</div>