<% provide(:title, 'Eqlea') %>
<% assign_view_specific_stylesheets 'home' %>
<% assign_view_specific_javascripts 'home' %>


<div id="wrapper">
  <header>
    <%= link_to "About", '#', id: "home-about-link" %>
  </header>

  <%= form_tag root_url, id: "form" do %>
    <div id="error_explanation">
      <div id="email_error">
        <span><%= image_tag("left_icon.png") %></span>
        <span><%= flash[:email_error] %></span>
      </div>
      <div id="password_error">
        <span><%= image_tag("left_icon.png") %></span>
        <span><%= flash[:password_error] %></span>
      </div>
      <div id="confirmation_error">
        <span><%= image_tag("left_icon.png") %></span>
        <span><%= flash[:password_confirmation_error] %></span>
      </div>
    </div>
    <%= text_field_tag :email, flash[:email], placeholder: "Email" %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>
    <label id="new_user"><%= check_box_tag :sign_up?, "", flash[:is_new_user] %> New user</label>
    <%= submit_tag "Sign in", id: "submit" %>
  <% end %>
</div>